<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="navigator (activeVar)">
		<div class="masthead">
			<h3 class="text-muted">Order Distribution System</h3>
			<nav>
				<ul class="nav nav-justified">
					<li th:class="${activeVar == 'dashboard' ? 'active' : ''}"><a href="/business/dashboard.html">Dashboard</a></li>
					<li th:class="${activeVar == 'user' ? 'active' : ''}"><a href="/business/user.html">User Mgmt</a></li>
					<li th:class="${activeVar == 'task' ? 'active' : ''}"><a href="/business/task.html">Order</a></li>
					<li th:class="${activeVar == 'label' ? 'active' : ''}"><a href="/business/label.html">Label</a></li>
				</ul>
			</nav>
		</div>
	</div>
</body>
</html>